.index-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  overflow: scroll;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  justify-content: space-around;
  box-shadow: black 0 0 1px;
}

.navbar button {
  opacity: 75%;
  width: 15%;
  background-color: #59aee2;
  border: 1px solid rgb(65, 95, 241);
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgb(155, 210, 238);
  color: white;
  padding: 10px 24px;
  cursor: pointer;
}

.navbar:after {
  content: "";
  clear: both;
  display: table;
}

.navbar button:hover {
  background-color: #20a6ef;
}

#content {
  position: relative;
  top: 1rem;
}